<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <section>
      <nav>Name/Info</nav>
      <div>
        <con-profile-icon-selector />
        <input formControlName="firstName" placeholder="First Name" />
        <input formControlName="lastName" placeholder="Last Name" />
        <input formControlName="dateOfBirth" type="date" placeholder="Date of Birth" />
        <input formControlName="favoritesRanking" placeholder="Favorites Ranking" />
      </div>
    </section>
    <section>
      <nav>Phones</nav>
      <div formArrayName="phones">
        <div *ngFor="let phone of contactForm.controls.phones.controls; let i=index" [formGroupName]="i"
          class="flex-column">
          <div class="flex-group">
            <input formControlName="phoneNumber" placeholder="Phone" />
            <img src="/assets/plus-grey-blue.png" class="add" (click)="addPhone()" />
          </div>
          <em *ngIf="phone.controls.phoneNumber.invalid">Preferred phone is required</em>
          <div class="radio">
            <span *ngFor="let phoneType of phoneTypes">
              <input type="radio" formControlName="phoneType" [value]="phoneType.value"> {{phoneType.title}}
            </span>
          </div>
          <span><input type="checkbox" formControlName="preferred" /> Preferred</span>
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div formGroupName="address" class="address">
          <div class="flex-group">
            <input placeholder="Address" formControlName="streetAddress" />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input placeholder="City" formControlName="city" />
          <input placeholder="State/Region" formControlName="state" />
          <input placeholder="Zip/Postal Code" formControlName="postalCode" />
          <select placeholder="Phone" formControlName="phoneType">
            <option value="home">Home</option>
            <option value="work">Work</option>
            <option value="mobile">Other</option>
          </select>
        </div>
      </div>
    </section>
    <div class="buttons">
      <button class="secondary">Cancel</button>
      <button type="submit" class="primary">Save</button>
    </div>
  </form>
</div>
